python-dotenv=1.0.0
flask==2.2.3
sqlalchemy==1.4.16
flask-sqlalchemy==3.0.3
bcrypt==4.0.1
psycopg2==2.9.6
pandas==1.5.3
pyodbc==4.0.38
openpyxl==3.1.0
flask-apscheduler==1.12.4
xlsxwriter==3.0.9
flask_login==0.6.2