h1 {
    border: 2px #eee solid;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}

.formulaire {
    background-color: #999999;
}

body {
    background-image:url('backrgoundmonkey.jpg');
}