{% extends "index.html" %}
{% block title %}Device Create{% endblock %}
{% block head %}
{{ super() }}
<style>
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
</style>
{% endblock %}
{% block content %}
<h1>Add New Device</h1>

<form method="POST" action="{{ url_for('add_device') }}">
  <div class="mb-3">
    <label for="secret" class="form-label">Device secret key</label>
    <input type="text" class="form-control" id="secret" name="secret">
  </div>
  <div class="mb-3">
    <label for="device_name" class="form-label">Name</label>
    <input type="text" class="form-control" id="device_name" name="name">
  </div>
  <div class="mb-3">
    <label for="location" class="form-label">Location</label>
    <input type="text" class="form-control" id="location" name="location">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="cancel" class="btn btn-primary">Cancel</button>
</form>
{% endblock %}