{% extends "base.html" %}
{% block title %}Account Details{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
<h1>Accounts</h1>
  <table class="table">
      <thead>
          <tr>
              <th>ID</th>
              <th>Account Number</th>
              <th>Account Type</th>
              <th>First Depositor</th>
              <th>Second Depositor</th>
              <th>Amount</th>
              <th>Maturity Date</th>
              <th>Agent</th>
          </tr>
      </thead>
      {% if accounts %}
        <tbody>
          {% for account in accounts %}
              <tr>
                  <td>{{ account.id }}</td>
                  <td>{{ account.account_number }}</td>
                  <td>{{ account.account_type }}</td>
                  <td>{{ account.depositor_1 }}</td>
                  <td>{{ account.depositor_2 }}</td>
                  <td>{{ account.amount }}</td>
                  <td>{{ account.maturity_date }}</td>
                  <td>{{ account.agent }}</td>
              </tr>
          {% endfor %}
        </tbody>
      {% else %}
        <tr>
          <td colspan="8">
            <span class="fst-italic">No accounts to show.</span>
          </td>
        </tr>
      {% endif %}
  </table>

  <div class="card">
    <div class="card-body">
      <!-- <label for="joined_accounts" class="form-label">Joined accounts</label>
      <input type="text" id="joined_accounts" class="form-control" value="{{accounts|join(',', attribute='account_number')}}" readonly> -->

      <h5 class="card-title">Joined Accounts</h5>
      <p class="card-text">{{accounts|join(',', attribute='account_number')}}</p>
    </div>
  </div>

{% endblock %}
