{% extends "base.html" %}
{% block title %}Device Details{% endblock %}
{% block head %}
{{ super() }}
<style>
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}
</style>
{% endblock %}
{% block content %}
<h1>{{ device.name }}</h1>
<div class="row">
  <div class="col-md-2 fw-bold">Location:</div>
  <div class="col">{{ device.location }}</div>
</div>
<div class="row">
  <div class="col-md-2 fw-bold">Number of Appliance:</div>
  <div class="col">{{ device.device_appliance|length }}</div>
</div>


{% if products|length <4 %}
<p>
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addAppliance">
    Update appliances
  </button>
</p>
{% endif %}

<!-- Button trigger modal -->
{% if appliances %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Status</th>
      <th>Mode</th>
      <th>Time Setting</th>
    </tr>
  </thead>
  <tbody>
    {% for appliance in appliances %}
    <tr>
      <td>{{ appliance.name }}</td>
      <td>{{ appliance.type }}</td>
      <td>{{ appliance.value }}</td>
      <td>{{ appliance.mode }}</td>
      <td>{{ appliance.mode_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No appliances of this device yet.</p>
{% endif %}

{% endblock %}