<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- Stylesheet CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Flask Auth Example</title>
    
</head>

<body class="back">
    <div class="container-fluid"> <!-- Class permettant de conserver la page vertical-fixe -->
      <div class="col"> <!-- Class de la page web, permet de Stratifier la page, développer le code dedans -->
        <div class="row"> <!-- Bande Titre Tickarbone-->
          <div class="col p-3 text-white" style="background-color: black;">
        
            <h1 class="text-center">Tickarbone</h1>
              <figcaption class="blockquote-footer">
              Combien pèse votre <cite title="Source Title">Panier</cite> ?
              </figcaption>
          </div>
        </div>
      </div>

      <div class="row"> <!-- Bande blanche séparateur menu -->
          <div class="col p-1 bg-white"> </div>
      </div>


  


  </div>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               <div class="column is-4 is-offset-4">
                    <h3 class="title" >Login</h3>
                    <div class="box">
                        <form method="POST" action="/login" class="container-sm bg-dark">
                            <div class="field">
                                <div class="control">
                                    <input class="form-control" type="email" name="email" placeholder="Your Email" autofocus="">
                                </div>
                            </div>
                
                            <div class="field">
                                <div class="control">
                                    <input class="form-control" type="password" name="password" placeholder="Your Password">
                                </div>
                            </div>
                            <div class="field">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth">Login</button>
                        </form>
                    </div>
                </div>
            </div>
            
            
            <div class="col-sm p-3 text-center"> <!-- Colonne ScriptScrat.Gif -->

              <img src="/static/img/scrat_accueil.jpg" class="img-fluid" alt="...">

            </div>  
        </div>
    </section>
</body>

</html>
