{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block body %}
<div class="row" align="center">
  <h1>Welcome to EnvisionIoT App</h1><br><br>
</div><br>
<div class="row">
  <div class="form col-sm-6 offset-sm-3">
    <form class="loginform" action="/" method="post">
      <h3>User Login</h3>
      <label for="username">Username:</label><br>
      <input type="text" class="form-control" name="username" required><br>
      <label for="password">Enter your password:</label><br>
      <input type="password" class="form-control" name="password" required><br>
      <button type="submit">Login</button>
      <h6 style="font-family: zillaslab,palatino,Palatino Linotype,serif; color:red;">{{error}}</h6>
      Not a member? <a href="/signup">Sign Up</a>
    </form>
  </div>
</div>
{% endblock %}