      <div class="container-fluid"> <!-- Text Block after Download Fichier -->
          <div class="col p-1">
          <label class="col-form-label"><h5><u>Télecharger les produits de la base Tickarbone sous format .xlsx</u></h5></label>  
          </div>  
        </div>

        <div class="formulaire"> <!-- Download Fichier Block -->
          <div class="col p-1">
            <button class="btn btn-light">
              <span class="spinner-grow spinner-grow-sm"></span>
              <a class="btn" style="color:rgb(50, 50, 50) " href="{{url_for('download_everything')}}"><b>Download</b></a>
            </button>
          </div>  
        </div>
        <br>
      </div>